/* *{
    font-family: 'Nunito Sans', sans-serif !important;
} */
.normal-mode-background{
    background-color: #fafafa;
}
.normal-mode-elements{
    background-color: #ffffff;
    color: black;
}
.dark-mode-background{
    background: #202c37 !important;
    color: white !important;
}

.dark-mode-elements{
    background-color: #2b3945 !important;
    color: white !important;
}





.options a{
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
}

.options a:hover {
    background-color: #ddd;
}

.dark-mode-background a:hover {
    background-color: #202c37 !important;
}